
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 224, 224);
}
h1, h2, h3, h4, h5, h6{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.menuN{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    display: inline-block;
    margin: 0 5px;
}
header{
    padding: 15px 0 5px 0;
    background-color: rgb(236, 50, 55)!important;
    color: white;
    line-height: 15px;
}
nav ul li:hover{
    color: #000;
    transition: 0.8s;
}
.titulo{
margin: 1.563rem 0rem;
background-color: rgb(166, 43, 49);
width: 100%;
color: White;
padding: 0.5rem 0rem 0.5rem;
padding-left: 5px;
text-align: center;
font-weight: normal;
border-radius: 5px;
box-shadow: 0px 0px 10px rgb(166, 49, 49);
}
.menu-dot{
text-align:center;
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 18px;
width: 100%;
text-align: center;
}
.col-2{
display: grid;
grid-template-columns: 2fr 2fr;
text-align: center;
}
.col-2 p{
margin: 2px;
}
.cont-p{
margin-left: 15px;
}
.carde{
width: 100%;
background-color: #fff;
border-radius: 10px;
overflow: hidden;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
transition: 0.3s;
}
.card-header{
width: 100%;
height: 200px;
overflow: hidden;
}
.card-bodye{
height: 220px;
padding: 15px;
text-align: center;
}
.carde-bodye{
    height: 153px;
    padding: 15px;
}
.card-local{
font-size: 16px;
margin: 10px 0;
font-weight: bold;
}
.card-texto{
font-size: 12px;
width: 100%;
margin: 0 auto;
}
.card-footer{
margin-top: 10px;
text-align: center;
background-color: #000;
}
.card-footer a{
color: #fff;
display: block;
padding: 16px;
text-decoration: none;
font-weight: 600;
}
.cont-card{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 20px;
row-gap: 25px;
}
.carde:hover{
transform: scale3d(1.1, 1.1, 0.9);
transition: 0.7s;
}
.card-header img{
width: 100%;
height: 100%;
}
a{
    color: white;
    font-weight: normal;
}
a:hover{
    color: white;
    font-weight: normal;
}
.mt{
    margin-top: 15px;
}
.redes{
    margin-top: 15px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: grid;
}   
.redes i{
    font-size: 45px;
    margin: 8px;
}
.redes i:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.redes a{
    color:black;
}
.mto{
    margin-top: 90px;
}
.offcanvas-header img{
    width: 50%;
}
footer{
    background-color: rgb(166, 43, 49);
    border-top: 1px solid black;
    margin-top: 40px;
    bottom: 0;
    text-align: center;
    padding: 35px;
    color: black;
    z-index: 999999;
}
.navbar img{
    margin: 0px auto;
    width: 15%;
}
.container-fluid{
    background-color: rgb(189, 38, 43)!important;
    z-index: 999!important;
    position: fixed;
    top: 0;
    width: 100%;
}
.offcanvas-header img{
    width: 50%;
}
footer{
    border-top: 1px solid black;
    margin-top: 40px;
}
.fa-solid{
    color: white;
    font-size: 25px;
}
.navbar-toggler{
    border: 1px solid black;
}
.col-md-3{
    margin-bottom: 30px
}
.btn .btn-primary{
    background-color: rgba(72, 89, 105, 1)!important;
}
.none{
    border: none;
    background-color: transparent;
}
.row img{
    width: 100%;
    border-radius: 7px;
}